#title {
  text-align: center;
  width: 100%;
  height: 300px;
  background-color: #efefea;
}

.title-heading {
  position: absolute;
  margin-left: 40%;
  margin-top: 100px;
}

.title-subheading {
  position: absolute;
  margin-left: 40%;
  margin-top: 140px;
}