#main {
  margin: 0 200px;
  text-align: center;
}

@media all and (max-width: 600px) {
  #main {
    margin: 0 10px;
  }
}

#title {
  background-color: #efefea;
}

.title-heading {
  margin-top: 100px;
  padding-top: 50px;
}

.title-subheading {
  margin-top: 40px;
  padding-bottom: 20px;
  font-size: 1em;
}

#image {
  width: 100%;
  margin: 0 auto;
}